<!DOCTYPE html><html><head><link rel="stylesheet" href="/main.css"></head><body><h1>Angularjs decorator for analytics</h1><p>I love analytics when I can look at the result, while I hate it when they look over what I do. And I also hate it when they poison my controllers just to save a goddam click.
Our goal here will be to implement it in a way you save whatever event you want, without polluting your services, controllers &amp; directives. In this example, let&#39;s use the angular-google-analytics library (wrapper actually :) ) just because if it exists and is complete enough for your use, profit !</p>
<p>To do so, there is an under-used functionnality of nG which is the decorator. The idea of a decorator is to encapsulate a previous service, directive or provider which another logic. Bonux, it can hook &quot;before&quot; or &quot;after&quot; the function. It simple limitation being that it should be configured through the $provide provider, which normally mean it will be in the config block. Which means we can&#39;t use service but only providers.</p>
<p>Fuck that. Let&#39;s declare a service for our analytics.</p>
<pre><code>
</code></pre><p>Cool, we got our event handlers, now let&#39;s declare our generic listeners.</p>
<p>Here, we want to look over the primitives directives for clicks : we&#39;re gonna register the [a [href||ui-sref]] and every ng-click event : that way we&#39;re catching pretty much every &quot; voluntary interaction&quot;. We &#39;re still missing the &quot;discovering events&quot; as of mouseover, but let&#39;s look after that later.</p>
<pre><code>
</code></pre><p>We also add a page tracking, disabling everything from the plugin and handle manually. The reason is to avoid having some</p>
<p>Here, that&#39;s the provide story we&#39;re actually missing : simply enough, it&#39;s not accessible &quot;here&quot;, but it doesn&#39;t mean we can&#39;t export it for our module block. The reason we do that is to be able to &quot;modulate&quot; our app, and being able to easily inject our services (which are not accessible in conf) into the app global module.</p>
<p>Cool enough, every click is sent to our analytics system. Problem is, if we look hover the GA analytics, we&#39;d like to be able to see a conversion rate, see where it drops &amp; so on. There is 2 ways to define a &quot;goal&quot; (GA terminology) : either by click or by a succession of page change. Problem is, a click can define the end of a goal, but it doesn&#39;t give you information on the way your app have been used. But the page change does. So let&#39;s consider some &quot;click&quot; event as the end of a goal and send a &quot;virtual page&quot; change, a fake page which will consider the goal have been fulfilled.</p>
<p>Now, we need to register this to our precious button of validation. I haven&#39;t found a proper &amp; clean solution yet for this one, so let&#39;s make it &quot;works&quot; so far : we declare our element by name (or id, as you wish to pollute your DOM :D ) and upon rendering, just check if it&#39;s one of those we&#39;re looking for and attach (or not) the event to it :</p>
<pre><code>
</code></pre><p>To avoid checking twice, we also remove it from our &gt;copy&lt; of the element declaration, this way if you got multiple by page, it avoid to loop for nothing once it&#39;s registered.</p>
<p>Another solution would be to actually declare another directive to directly &quot;choose&quot; the goal ender. It IS definetely cleaner, but my goal was to not touch my DOM at all, so you can still decorate the specific directive that use this goal ender (for example, on angular-material, mdButton) to reduce the scope of potential element to loop hover.</p>
<p>In case you do some back-end specific check, when clicking the &quot;end&quot; button doesn&#39;t define the success of your scenario, you may be interested in extending $q or $http to add your event of end of goal in the &quot;success&quot; callback ;)</p>
<p>That&#39;s it so far, the event is easily extendable, so are the targets, and you can track what&#39;s really important : your user workflow and your real conversions, without putting some analytics code everywhere.</p>
<blockquote>
<p>#my2cents</p>
</blockquote></body></html>